.addproject {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $mainwhite;
  width: 400px;
  height: 84.25vh;
  background-color: $backgroundgrey;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px $mainblack;

  &__title {
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1.75rem;
  }
  &__form {
    width: 75%;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-input {
    width: 350px;
    background-color: $maingrey;
    color: $mainwhite;
    border-radius: 0.25rem;
  }
  &__form-input::placeholder {
    color: $mainwhite;
    font-size: 0.625rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__form-input-description {
    height: 64px;
    width: 350px;
    background-color: $maingrey;
    text-overflow: auto;
    color: $mainwhite;
  }
  &__form-input-description::placeholder {
    color: $mainwhite;
    font-size: 0.625rem;
  }
  &__form-button {
    width: 150px;
    height: 28px;
    background-color: $mainyellow;
    box-shadow: 0 2px 4px $mainblack;
    color: $maingrey;
    border: none;
    border-radius: 4px;
    padding-left: 1rem;
    margin-bottom: 1rem;

    font-weight: bolder;
    font-size: 0.875rem;
    background-image: url("../assets/logo-black.png");
    background-repeat: no-repeat;

    background-position-x: 3%;
    background-position-y: 50%;
    background-size: 30px 30px;
  }
  &__form-button:hover {
    color: $mainyellow;
    background-color: $maingrey;
    transform: scale(1.125);
  }
  &__form-button-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  &__form-label {
    font-size: 0.75rem;
    padding: 0.5rem 0 0.125rem 0;
  }

  &__form-radio {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  &__form-radio:active {
    color: $mainyellow;
  }
  &__form-select {
    background-color: $maingrey;
    color: $mainwhite;
  }
}
