.addcontact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $mainwhite;
  height: 535px;
  background-color: $backgroundgrey;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px $mainyellow;
  width: 400px;
  &__title {
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
  }
  &__label {
    text-align: left;
  }
  &__form {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
  }
  &__form-input {
    background-color: $maingrey;
  }
  &__form-input::placeholder {
    color: #fafafa;
    font-size: 0.625rem;
    padding-left: 0.5rem;
  }

  &__form-button {
    width: 120px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: $mainyellow;
    color: $mainblack;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
  &__form-button-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
}
