.addproject {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $mainwhite;
  width: 400px;
  // height: 535px;
  background-color: $backgroundgrey;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px $mainyellow;

  &__title {
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
  }
  &__form {
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  &__form-input {
    width: 300px;
    background-color: $maingrey;
    color: $mainwhite;
  }
  &__form-input::placeholder {
    color: $mainwhite;
    font-size: 0.625rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__form-input-description {
    height: 64px;
    width: 300px;
    background-color: $maingrey;
    text-overflow: auto;
    color: $mainwhite;
  }
  &__form-button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: $mainyellow;
    color: $mainblack;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
  &__form-button-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  &__form-label {
    font-size: 0.75rem;
    padding: 0.5rem 0 0.125rem 0;
  }

  &__form-radio {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  &__form-radio:active {
    color: $mainyellow;
  }
  &__form-select {
    background-color: $maingrey;
    color: $mainwhite;
  }
}
