.rbc-event-content {
  background-color: $backgroundgrey;
  color: $mainwhite;
  border: none;
  padding: 0;
  margin: 0;
}

.rbc-day-bg {
  background-color: $maingrey;
}

.rbc-today {
  background-color: $backgroundgrey;
}
