@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Light.woff2") format("woff2"),
    url("../assets/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-ExtraBold.woff2") format("woff2"),
    url("../assets/Rubik-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Bold.woff2") format("woff2"),
    url("../assets/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Medium.woff2") format("woff2"),
    url("../assets/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Regular.woff2") format("woff2"),
    url("../assets/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
