.hero__video {
  margin: 0;
  height: 84.25vh;
  &-section {
    display: flex;
    background-image: url("../assets/axiom-pattern.png");
    background-color: $mainyellow;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  &-column {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid $mainblack;
  }
}
