.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.5rem;
  background-color: $backgroundgrey;
  color: $mainwhite;
  width: 15rem;
  height: 535px;
  box-shadow: 0 2px 4px $mainyellow;
  margin-top: 1rem;
  margin-right: 1rem;
  &-item {
    margin: 0.5rem 0;
  }
  &-description {
    font-size: 0.75rem;
    border: 1px solid $backgroundgrey;
    border-radius: 4px;
    background-color: $maingrey;
    color: $mainwhite;
    height: 170px;
    width: 90%;
    overflow: hidden;
  }
  &-button {
    height: 1.25rem;
    width: 4rem;
    border-radius: 0.25rem;
    border: none;
    background-color: $mainyellow;
    color: $mainblack;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
  &-title {
    font-size: 1.125rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
    margin: 0 0 1rem 0;
  }
  &-address-container {
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    color: $mainyellow;
  }
  &-item-address {
    color: $mainwhite;
    margin: 0;
    font-size: 0.75rem;
  }
  &-item-address-yellow {
    color: $mainyellow;
    margin: 0;
  }
  &-address-title {
    color: $mainwhite;
    font-size: 1rem;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid $backgroundgrey;
  }
  &-timeline {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    border: 1px solid $mainblack;
    background-color: $maingrey;
    border-radius: 4px;
    padding: 3px;
  }
  &-id {
    margin: 0.25rem 0 0 0;
  }
}
