.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-color: $maingrey;
  border-radius: 0.5rem;
  background-color: $backgroundgrey;
  color: $mainwhite;
  width: 15rem;
  height: 17.5rem;
  box-shadow: 0 2px 4px $mainblack;
  margin-top: 1rem;
  margin-right: 1rem;
  &-item {
    margin: 0.5rem 0;
  }
  &-name {
    font-size: 1rem;
  }
  &-description {
    font-size: 0.75rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px $mainblack;
    padding: 0.25rem;
    background-color: $maingrey;
    color: $mainwhite;
    height: 170px;
    width: 90%;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
  &-button {
    height: 2rem;
    width: 2rem;
    border: none;
    background: url("../assets/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0.25rem;
  }
  &-button:hover {
    color: $mainyellow;
    background-color: $maingrey;
    transform: scale(1.125);
  }
  &-title {
    font-size: 1.125rem;
    padding: 0.25rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px $mainblack;
    background-color: $mainyellow;
    color: $maingrey;
    margin: 1rem 0 1rem 0;
  }
  &-address-container {
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    color: $mainyellow;
  }
  &-item-address {
    color: $mainwhite;
    margin: 0;
    font-size: 0.75rem;
  }
  &-item-address-yellow {
    color: $mainyellow;
    margin: 0;
  }
  &-address-title {
    color: $mainwhite;
    font-size: 0.75rem;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid $backgroundgrey;
  }
  &-timeline {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    border: none;
    box-shadow: 0 2px 4px $mainblack;
    background-color: $maingrey;
    border-radius: 4px;
    padding: 3px;
  }
  &-id {
    margin: 0.25rem 0 0 0;
    font-size: 0.75rem;
  }
  &-id-div {
    display: flex;
    padding-bottom: 0.25rem;
  }
}
