.task__card {
  margin: 2px;
  list-style-type: none;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    background-color: $backgroundgrey;
    color: $mainwhite;
    width: 15rem;
    height: 15rem;
    margin: 0.5rem;
    box-shadow: 0 2px 4px $mainblack;
  }
  &-button {
    width: 30px;
    height: 30px;
    border-radius: 0.25rem;
    border: none;
    background-color: $mainyellow;
    color: $mainblack;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    background: url("../assets/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &-button:hover {
    color: $mainyellow;

    transform: scale(1.125);
  }
  &-name {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    background-color: $mainyellow;
    color: $maingrey;
    padding: 0.25rem;
  }
  &-description {
    padding: 0.5rem;
    background-color: $maingrey;
    border-radius: 0.25rem;
    width: 90%;
    font-size: 0.875rem;
  }
}
