.task__container {
  &-list {
    height: 600px;
    width: 820px;
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
}
