.taskById__container {
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 12px solid $maingrey;

  &-list {
    list-style-type: none;
    padding-left: 0.5rem;
    width: 32rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  &-title {
    color: $mainwhite;
    margin-top: 0;
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    background-color: $maingrey;
    border-bottom: 4px solid $maingrey;
  }
}
.task__cardid {
  margin: 2px;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  background-color: $mainyellow;
  color: $maingrey;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
  box-shadow: 0 2px 4px $mainblack;
}
