$mainyellow: #f5df4d;
$maingrey: #4c4c4c;
$mainblack: #323232;
$backgroundgrey: rgb(147, 149, 151);
$mainwhite: #fafafa;
//green-blue
// $mainyellow: #8fc1e3;
// $maingrey: #31708e;
// $mainblack: #5085a5;
// $backgroundgrey: #687864;
// $mainwhite: #f7f9fb;

#file-upload-button {
  background-color: $maingrey;
  color: $mainwhite;
}
