body {
  margin: 0;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Light.woff2") format("woff2"), url("../assets/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-ExtraBold.woff2") format("woff2"), url("../assets/Rubik-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Bold.woff2") format("woff2"), url("../assets/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Medium.woff2") format("woff2"), url("../assets/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Regular.woff2") format("woff2"), url("../assets/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar {
  height: 100px;
  background-color: #939597;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 6px solid #4c4c4c;
  -webkit-box-shadow: 0 3px 5px #4c4c4c;
          box-shadow: 0 3px 5px #4c4c4c;
}

.navbar__logo {
  width: 265px;
  margin-top: -0.75rem;
  margin-left: 3rem;
}

.navbar__logo:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__button {
  width: 120px;
  height: 28px;
  background-color: #4c4c4c;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #f5df4d;
  border: none;
  border-radius: 4px;
  margin: 2px;
  margin-right: 2rem;
  font-weight: bolder;
  font-size: 0.875rem;
}

.navbar__button-search {
  width: 120px;
  height: 28px;
  background-color: #4c4c4c;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #f5df4d;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin: 2px;
  margin-right: 2rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 50%;
  background-size: 20px 20px;
}

.navbar__button:hover {
  background-color: #f5df4d;
  color: #323232;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.navbar__button-github {
  width: 120px;
  height: 28px;
  background-color: #4c4c4c;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #f5df4d;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin: 2px;
  margin-right: 2rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/github.png");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 50%;
  background-size: 20px 20px;
}

.navbar__button-github:hover {
  background-color: #f5df4d;
  color: #323232;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.navbar__button-google {
  width: 120px;
  height: 28px;
  background-color: #4c4c4c;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #f5df4d;
  border: none;
  border-radius: 4px;
  padding-left: 1.5rem;
  margin: 2px;
  margin-right: 2rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/google.png");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 50%;
  background-size: 20px 20px;
}

.navbar__button-google:hover {
  background-color: #f5df4d;
  color: #323232;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.navbar__input {
  font-size: 0.625rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  width: 185px;
  background-color: #939597;
  color: #fafafa;
  margin-right: 1rem;
}

.navbar__input::-webkit-input-placeholder {
  color: #fafafa;
  background-color: #939597;
}

.navbar__input:-ms-input-placeholder {
  color: #fafafa;
  background-color: #939597;
}

.navbar__input::-ms-input-placeholder {
  color: #fafafa;
  background-color: #939597;
}

.navbar__input::placeholder {
  color: #fafafa;
  background-color: #939597;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 82.5vh;
  width: 140px;
  background-color: #4c4c4c;
  color: #f5df4d;
  border-right: 4px solid #4c4c4c;
}

.aside__logo {
  height: 2rem;
}

.aside__logo-title {
  color: #4c4c4c;
  -webkit-text-decoration-color: #f5df4d;
          text-decoration-color: #f5df4d;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.aside__logo-title:active {
  color: #f5df4d;
}

.aside__logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 80px;
  margin-left: 25%;
  border-radius: 4px;
  background-color: #f5df4d;
  -webkit-box-shadow: 0 2px #323232;
          box-shadow: 0 2px #323232;
}

.aside__logo-icon:hover {
  -webkit-transform: scaleX(1.125) scaleY(1.125);
          transform: scaleX(1.125) scaleY(1.125);
  background-color: #939597;
}

.contact__card {
  font-size: 0.75rem;
  margin: 2px;
  list-style-type: none;
}

.contact__card-main {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.contact__card-button {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: url("../assets/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contact__card-name {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  padding: 0 0 0.25rem 0;
  background-color: #4c4c4c;
  border-bottom: 2px solid #f5df4d;
  width: 100%;
}

.contact__card-email {
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0;
  color: #fafafa;
  margin: 2px;
  border-radius: 0.25rem;
}

.contact__card-phone {
  font-size: 0.75rem;
  margin: 2px;
  padding: 0 0.25rem;
  background-color: #939597;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.contact__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  border-radius: 0.25rem;
}

.bottomnav {
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #939597;
  border-top: 6px solid #4c4c4c;
  -webkit-box-shadow: 0 6px 2px #4c4c4c;
          box-shadow: 0 6px 2px #4c4c4c;
  padding: 0 1.5rem;
}

.bottomnav__logo {
  padding: 0.75rem;
  height: 35px;
  width: 35px;
  background-position: center;
}

.bottomnav__title {
  width: 120px;
}

.bottomnav__produced {
  color: #fafafa;
  font-size: 0.5rem;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__container-list {
  width: 90%;
  height: 560px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-text-decoration-color: #4c4c4c;
          text-decoration-color: #4c4c4c;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  height: 15rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  margin-top: 1rem;
  margin-right: 1rem;
}

.project__card-item {
  margin: 0.125rem 0;
}

.project__card-name {
  font-size: 1rem;
}

.project__card-description {
  font-size: 0.75rem;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  padding: 0.25rem;
  background-color: #4c4c4c;
  color: #fafafa;
  height: 170px;
  width: 90%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.project__card-button {
  height: 2rem;
  width: 2rem;
  border: none;
  background: url("../assets/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0.75rem 0.25rem 0;
}

.project__card-button:hover {
  color: #f5df4d;
  background-color: #939597;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.project__card-title {
  font-size: 1.125rem;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  background-color: #f5df4d;
  color: #4c4c4c;
  margin: 1rem 0 0.5rem 0;
}

.project__card-address-container {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  color: #f5df4d;
}

.project__card-item-address {
  color: #fafafa;
  margin: 0;
  font-size: 0.75rem;
}

.project__card-item-address-yellow {
  color: #fafafa;
  margin: 0.5rem;
}

.project__card-address-title {
  background-color: #939597;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  border-radius: 0.25rem;
  color: #fafafa;
  font-size: 0.75rem;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.project__card-timeline {
  width: 100%;
  font-size: 0.75rem;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__card-id {
  margin: 0.25rem 0 0 0;
  font-size: 0.75rem;
}

.project__card-id-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.25rem;
}

.project__card-bottom {
  width: 100%;
  background-color: #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.project__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4c4c4c;
  background-image: url("../assets/fancy-deboss.png");
}

.project__main-left-column {
  width: 15vw;
}

.project__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../assets/fancy-deboss.png");
  background-color: #4c4c4c;
}

.contact__main-left-column {
  width: 15vw;
}

.contact__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.addcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 82.5vh;
  background-color: #939597;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  width: 400px;
}

.addcontact__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.75rem;
}

.addcontact__label {
  text-align: left;
}

.addcontact__form {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.addcontact__form-input {
  background-color: #4c4c4c;
  color: #fafafa;
  border-radius: 0.25rem;
}

.addcontact__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-button {
  width: 150px;
  height: 28px;
  background-color: #f5df4d;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #4c4c4c;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/logo-black.png");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 50%;
  background-size: 30px 30px;
}

.addcontact__form-button:hover {
  color: #f5df4d;
  background-color: #4c4c4c;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.addcontact__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addcontact__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addproject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  width: 400px;
  height: 82.5vh;
  background-color: #939597;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.addproject__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.75rem;
}

.addproject__form {
  width: 75%;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addproject__form-input {
  width: 350px;
  background-color: #4c4c4c;
  color: #fafafa;
  border-radius: 0.25rem;
}

.addproject__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input-description {
  height: 64px;
  width: 350px;
  background-color: #4c4c4c;
  text-overflow: auto;
  color: #fafafa;
}

.addproject__form-input-description::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
}

.addproject__form-input-description:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
}

.addproject__form-input-description::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
}

.addproject__form-input-description::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
}

.addproject__form-button {
  width: 150px;
  height: 28px;
  background-color: #f5df4d;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #4c4c4c;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/logo-black.png");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 50%;
  background-size: 30px 30px;
}

.addproject__form-button:hover {
  color: #f5df4d;
  background-color: #4c4c4c;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.addproject__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addproject__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addproject__form-radio {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.addproject__form-radio:active {
  color: #f5df4d;
}

.addproject__form-select {
  background-color: #4c4c4c;
  color: #fafafa;
}

.addimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 82.5vh;
  background-color: #939597;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  width: 400px;
}

.addimage__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.75rem;
}

.addimage__form {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.addimage__form-input-id {
  width: 35%;
  background-color: #4c4c4c;
  color: #fafafa;
  border-radius: 0.25rem;
}

.addimage__form-input-id::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input-id:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input-id::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input-id::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input {
  width: 85%;
  background-color: #4c4c4c;
  color: #fafafa;
  border-radius: 0.25rem;
}

.addimage__form-input-file {
  width: 87%;
  background-color: #4c4c4c;
  border-radius: 0.25rem;
}

.addimage__form-input-file::-webkit-file-upload-button {
  visibility: hidden;
}

.addimage__form-input-file::before {
  content: "Select Image File";
  background-color: #f5df4d;
  border: none;
  color: #4c4c4c;
  padding: 3px;
  font-weight: bold;
  border-radius: 0.25rem;
}

.addimage__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-button {
  width: 150px;
  height: 28px;
  background-color: #f5df4d;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #4c4c4c;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/logo-black.png");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 50%;
  background-size: 30px 30px;
}

.addimage__form-button:hover {
  color: #f5df4d;
  background-color: #4c4c4c;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.addimage__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.image__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../assets/fancy-deboss.png");
  background-color: #4c4c4c;
}

.image__main-left-column {
  width: 15vw;
}

.image__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.image__card {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  height: 12rem;
  width: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.image__card-button {
  height: 2rem;
  width: 2rem;
  margin-right: 0.25rem;
  border: none;
  background: url("../assets/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image__card-button:hover {
  color: #f5df4d;
  background-color: #4c4c4c;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.image__card-description {
  width: 7.5rem;
  font-size: 1rem;
  overflow: hidden;
  margin: 0;
  padding-right: 0.75rem;
}

.image__card-image {
  width: 100%;
  height: 88%;
  border-radius: 0.25rem;
}

.image__card-image:active {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.image__card-projecttitle {
  margin: 0;
  font-size: 0.625rem;
}

.image__card-projectid {
  margin: 0;
}

.image__card-div {
  height: 12%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #4c4c4c;
  width: 15rem;
  font-size: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  border-top: 1px solid #f5df4d;
  border-radius: 0.25rem;
}

.image__card-div-id {
  background-color: #939597;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  color: #fafafa;
  font-weight: bolder;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.hero__video {
  margin: 0;
  height: 84.25vh;
}

.hero__video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/axiom-pattern.png");
  background-color: #f5df4d;
}

.hero__video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.hero__video-column {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #323232;
}

.addlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 82.5vh;
  background-color: #939597;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #f5df4d;
          box-shadow: 0 2px 4px #f5df4d;
}

.addlogin__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addlogin__form {
  width: 45vw;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addlogin__form-input {
  margin: 0.75rem 0;
  width: 85%;
  background-color: #4c4c4c;
}

.addlogin__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #f5df4d;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.addlogin__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  width: 60%;
  height: 535px;
}

.image__container-list {
  padding: 0;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 560px;
  overflow-y: auto;
}

.image__container-title {
  padding-top: 0.5rem;
  color: #fafafa;
  font-size: 1.75rem;
  margin-bottom: 0;
  text-align: center;
}

.image__container-delete-image {
  height: 20px;
}

.image__container-delete {
  color: #323232;
  background-color: #f5df4d;
  font-size: 0.75rem;
  font-weight: bolder;
  width: 160px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #f5df4d;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.contact__container-list {
  width: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  list-style-type: none;
}

.addtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 82.5vh;
  background-color: #939597;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  padding: 0 0.5rem;
  width: 400px;
}

.addtask__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.75rem;
}

.addtask__label {
  text-align: left;
}

.addtask__form {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  width: 350px;
}

.addtask__form-input {
  color: #fafafa;
  background-color: #4c4c4c;
  border-radius: 0.25rem;
}

.addtask__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-button {
  width: 150px;
  height: 28px;
  background-color: #f5df4d;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #4c4c4c;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 0.875rem;
  background-image: url("../assets/logo-black.png");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 50%;
  background-size: 30px 30px;
}

.addtask__form-button:hover {
  color: #f5df4d;
  background-color: #4c4c4c;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.addtask__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addtask__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addtask__form-textarea {
  color: #fafafa;
  height: 120px;
  border-radius: 0.25rem;
  background-color: #4c4c4c;
}

.addtask__form-textarea:active {
  color: #fafafa;
}

.addtask__form-select {
  border-radius: 0.25rem;
  background-color: #4c4c4c;
  color: #fafafa;
}

.task__container-list {
  height: 570px;
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.task__card {
  margin: 2px;
  list-style-type: none;
}

.task__card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #4c4c4c;
  width: 15rem;
  height: 17.5rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.task__card-button {
  width: 45px;
  height: 45px;
  border-radius: 0.25rem;
  border: none;
  background-color: #f5df4d;
  color: #323232;
  font-weight: bolder;
  background: url("../assets/checked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.task__card-button:hover {
  color: #f5df4d;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.task__card-name {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f5df4d;
  color: #4c4c4c;
  padding: 0.25rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.task__card-description {
  color: #fafafa;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  height: rem;
  font-size: 0.875rem;
  margin: 0.25rem 0 0 0;
  overflow: hidden;
}

.task__card-category {
  font-size: 0.875rem;
  padding: 0.25rem 2rem;
  background-color: #939597;
  color: #fafafa;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.task__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4c4c4c;
  background-image: url("../assets/fancy-deboss.png");
}

.task__main-left-column {
  width: 15vw;
}

.task__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.updateproject {
  background-image: url("../assets/fancy-deboss.png");
  background-color: #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.updateproject__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
  height: 82.5vh;
  width: 70vw;
  background-color: #4c4c4c;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.updateproject__title {
  color: #fafafa;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  font-size: 2.25rem;
}

.updateproject__title-id {
  font-size: 1rem;
  color: #fafafa;
  padding-top: 4px;
  margin: 0 1rem 0 0;
}

.updateproject__form {
  width: 85%;
  padding-top: 0.5rem;
  margin-left: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.updateproject__form-input {
  width: 100%;
  background-color: #939597;
  color: #fafafa;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 2px #323232;
          box-shadow: 0 1px 2px #323232;
  font-size: 1.125rem;
}

.updateproject__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.updateproject__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.updateproject__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.updateproject__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.updateproject__form-input-description {
  height: 90%;
  width: 80%;
  margin-left: 10%;
  background-color: #939597;
  text-overflow: auto;
  color: #fafafa;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 2px #323232;
          box-shadow: 0 1px 2px #323232;
  font-size: 1.125rem;
}

.updateproject__form-input-title {
  text-align: center;
  margin-left: 37.5%;
  margin-bottom: 5%;
  width: 25%;
  background-color: #939597;
  color: #fafafa;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 2px #323232;
          box-shadow: 0 1px 2px #323232;
  font-size: 1rem;
}

.updateproject__form-button {
  margin-right: 10%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #f5df4d;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.updateproject__form-button:hover {
  color: #f5df4d;
  background-color: #939597;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.updateproject__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.updateproject__form-label {
  text-align: center;
  color: #fafafa;
  font-size: 0.875rem;
  padding: 0.5rem 0 0.25rem 0;
}

.updateproject__form-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.updateproject__form-div-left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

.updateproject__form-div-right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.updateproject__form-radio {
  font-size: 0.75rem;
  padding: 0.5rem;
  color: #fafafa;
}

.updateproject__form-radio:active {
  color: #f5df4d;
}

.updateproject__form-select {
  font-size: 0.75rem;
  height: 1.5rem;
  border: 1px solid #fafafa;
  background-color: #4c4c4c;
  color: #fafafa;
}

.updateproject__select-div {
  border-bottom: 4px solid #f5df4d;
  border-top: 4px solid #f5df4d;
  padding: 0.5rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__cardid {
  color: #fafafa;
  background-color: #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.35rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82.5vh;
  border-right: 4px solid #4c4c4c;
}

.project__cardid-title {
  margin: 1px;
  padding-bottom: 0.75rem;
  font-size: 2.75rem;
  text-align: center;
}

.project__cardid-description {
  padding: 0.5rem;
  background-color: #939597;
  color: #fafafa;
  font-size: 1.25rem;
  line-height: 1.65rem;
  height: 9rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.project__cardid-number {
  margin: 0;
}

.project__cardid-id-div {
  width: 100%;
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__cardid-projectid-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__cardid-projectid-div-sub {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__cardid-address-container {
  height: 3rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #939597;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25rem;
}

.project__cardid-address-title {
  font-size: 1.25rem;
  text-align: center;
  padding-right: 0.5rem;
}

.project__cardid-item-date {
  font-size: 1.125rem;
  margin: 0.25rem 0 0.25rem 0;
  padding: 0.5rem;
  color: #fafafa;
  font-weight: bold;
  border: none;
  background-color: #4c4c4c;
  border-radius: 0.25rem;
}

.project__cardid-item-address {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  padding-right: 0.45rem;
}

.project__cardid-item-address-yellow {
  font-size: 0.875rem;
  background-color: #939597;
  padding: 0.5rem;
  margin: 0;
  border-bottom: 2px solid #f5df4d;
}

.project__cardid-timeline {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #4c4c4c;
  border-top: 4px solid #f5df4d;
  border-bottom: 4px solid #f5df4d;
}

.projectById__container-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.projectid__main {
  background-color: #939597;
  background-image: url("../assets/fancy-deboss.png");
}

.projectid__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectid__main-left-column {
  width: 30%;
}

.projectid__main-right-column {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rbc-event-content {
  background-color: #939597;
  color: #fafafa;
  border: none;
  padding: 0;
  margin: 0;
}

.rbc-day-bg {
  background-color: #4c4c4c;
}

.rbc-today {
  background-color: #939597;
}

.imageById__container {
  width: 26%;
  height: 100%;
  border-right: 6px solid #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageById__container-list {
  width: 15.25rem;
  padding-left: 5px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  overflow-y: auto;
}

.imageById__container-title {
  font-size: 1.25rem;
  color: #fafafa;
  margin-top: 0;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #4c4c4c;
  border-bottom: 4px solid #4c4c4c;
}

.image__cardid {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.image__cardid-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.image__cardid-image:active {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.image__cardid-description {
  margin: 0.25rem;
  font-size: 1rem;
}

.contactById__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 25%;
  border-right: 6px solid #4c4c4c;
}

.contactById__container-list {
  width: 12.25rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  overflow-y: auto;
}

.contactById__container-title {
  font-size: 1.25rem;
  color: #fafafa;
  margin-top: 0;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #4c4c4c;
  border-bottom: 4px solid #4c4c4c;
}

.contact__cardid {
  font-size: 0.75rem;
  margin: 0.5rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 12.5rem;
  height: 8rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.contact__cardid-name {
  margin: 0.75rem 0 0 0;
}

.contact__cardid-company {
  margin: 0;
}

.contact__cardid-position {
  margin: 0;
  color: #f5df4d;
  font-weight: bold;
}

.contact__cardid-phone {
  margin: 0;
}

.contact__cardid-email {
  margin: 0;
}

.taskById__container {
  height: 100%;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-right: 6px solid #4c4c4c;
}

.taskById__container-list {
  list-style-type: none;
  padding-left: 0.5rem;
  width: 32rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}

.taskById__container-title {
  color: #fafafa;
  font-size: 1.25rem;
  margin-top: 0;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #4c4c4c;
  border-bottom: 4px solid #4c4c4c;
}

.task__cardid {
  margin: 2px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #f5df4d;
  color: #4c4c4c;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
}

.mainbody {
  background-color: #4c4c4c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */