body {
  margin: 0;
}

* {
  font-family: "Rubik";
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Light.woff2") format("woff2"), url("../assets/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-ExtraBold.woff2") format("woff2"), url("../assets/Rubik-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Bold.woff2") format("woff2"), url("../assets/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Medium.woff2") format("woff2"), url("../assets/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/Rubik-Regular.woff2") format("woff2"), url("../assets/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar {
  height: 10vh;
  background-color: #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #b7b8b26e;
  -webkit-box-shadow: 0 3px 5px #b7b8b26e;
          box-shadow: 0 3px 5px #b7b8b26e;
}

.navbar__logo {
  width: 240px;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}

.navbar__logo:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__button {
  width: 120px;
  height: 28px;
  background-color: #b7b8b26e;
  -webkit-box-shadow: 0 2px 4px #323232;
          box-shadow: 0 2px 4px #323232;
  color: #ece936;
  border: none;
  border-radius: 4px;
  margin: 2px;
  margin-right: 2rem;
  font-weight: bolder;
  font-size: 1rem;
}

.navbar__button:hover {
  background-color: #ece936;
  color: #323232;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 82.5vh;
  width: 140px;
  color: #ece936;
}

.aside__logo {
  height: 2rem;
}

.aside__logo-title {
  color: #4c4c4c;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.aside__logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 80px;
  margin-left: 25%;
  border-radius: 4px;
  background-color: #ece936;
  -webkit-box-shadow: 0 2px #4c4c4c;
          box-shadow: 0 2px #4c4c4c;
}

.aside__logo-icon:hover {
  -webkit-transform: scaleX(1.125) scaleY(1.125);
          transform: scaleX(1.125) scaleY(1.125);
}

.contact__card {
  margin: 2px;
  list-style-type: none;
}

.contact__card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.contact__card-button {
  height: 1.25rem;
  width: 4rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.contact__card-name {
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.contact__card-email {
  text-decoration: none;
  color: #fafafa;
  margin: 2px;
}

.bottomnav {
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4c4c4c;
  border-top: 4px solid #b7b8b26e;
  -webkit-box-shadow: 0 6px 2px #b7b8b26e;
          box-shadow: 0 6px 2px #b7b8b26e;
  padding: 0 1.5rem;
}

.bottomnav__logo {
  padding: 0.75rem;
  height: 35px;
  width: 35px;
  background-position: center;
}

.bottomnav__title {
  width: 120px;
}

.bottomnav__produced {
  color: #fafafa;
  font-size: 0.5rem;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__container-list {
  width: 790px;
  height: 690px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  height: 535px;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
  margin-top: 1rem;
  margin-right: 1rem;
}

.project__card-item {
  margin: 0.5rem 0;
}

.project__card-description {
  font-size: 0.75rem;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  background-color: #b7b8b26e;
  color: #fafafa;
  height: 170px;
  width: 90%;
  overflow: hidden;
}

.project__card-button {
  height: 1.25rem;
  width: 4rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.project__card-title {
  font-size: 1.125rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.project__card-address-container {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  color: #ece936;
}

.project__card-item-address {
  color: #fafafa;
  margin: 0;
  font-size: 0.75rem;
}

.project__card-item-address-yellow {
  color: #ece936;
  margin: 0;
}

.project__card-address-title {
  color: #fafafa;
  font-size: 1rem;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #4c4c4c;
}

.project__card-timeline {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  border: 1px solid #323232;
  background-color: #b7b8b26e;
  border-radius: 4px;
  padding: 3px;
}

.project__card-id {
  margin: 0.25rem 0 0 0;
}

.project__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b7b8b26e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1581093806997-124204d9fa9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

.project__main-left-column {
  width: 15vw;
}

.project__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4rem;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://images.unsplash.com/photo-1556761175-b413da4baf72?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__main-left-column {
  width: 15vw;
}

.contact__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4rem;
}

.addcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 535px;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
  width: 400px;
}

.addcontact__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addcontact__label {
  text-align: left;
}

.addcontact__form {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.addcontact__form-input {
  background-color: #b7b8b26e;
}

.addcontact__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addcontact__form-button {
  width: 120px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.addcontact__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addcontact__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addproject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  width: 400px;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.addproject__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addproject__form {
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addproject__form-input {
  width: 300px;
  background-color: #b7b8b26e;
  color: #fafafa;
}

.addproject__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.addproject__form-input-description {
  height: 64px;
  width: 300px;
  background-color: #b7b8b26e;
  text-overflow: auto;
  color: #fafafa;
}

.addproject__form-button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.addproject__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addproject__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addproject__form-radio {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.addproject__form-radio:active {
  color: #ece936;
}

.addproject__form-select {
  background-color: #b7b8b26e;
  color: #fafafa;
}

.addimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 530px;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
  width: 400px;
  margin-right: 4rem;
}

.addimage__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addimage__form {
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.addimage__form-input {
  width: 85%;
  background-color: #b7b8b26e;
}

.addimage__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addimage__form-button {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: bolder;
}

.addimage__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.image__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://images.unsplash.com/photo-1591783008804-ebcd7f783ebf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image__main-left-column {
  width: 15vw;
}

.image__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4rem;
}

.image__card {
  margin: 2px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  height: 15rem;
  width: 12rem;
  margin: 1rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.image__card-button {
  height: 1.25rem;
  width: 4rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.image__card-description {
  font-size: 1rem;
  overflow: hidden;
  margin-bottom: 0;
}

.image__card-image {
  height: 110px;
  width: 180px;
}

.image__card-projecttitle {
  margin: 0;
  padding-top: 0.25rem;
  font-size: 0.625rem;
}

.image__card-projectid {
  margin: 0;
  text-decoration: underline;
}

.hero__video {
  margin: 0;
  height: 83vh;
}

.hero__video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ece936;
}

.hero__video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.hero__video-column {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #323232;
}

.addlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 82.5vh;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.addlogin__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addlogin__form {
  width: 45vw;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addlogin__form-input {
  margin: 0.75rem 0;
  width: 85%;
  background-color: #b7b8b26e;
}

.addlogin__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addlogin__form-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.addlogin__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  width: 60%;
  height: 535px;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.image__container-list {
  border: 1px solid #b7b8b26e;
  padding: 0;
  border-radius: 0.5rem;
  background-color: #b7b8b26e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 560px;
  overflow: scroll;
}

.image__container-title {
  padding-top: 0.5rem;
  color: #fafafa;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1.5px solid #ece936;
}

.image__container-delete-image {
  height: 20px;
}

.image__container-delete {
  color: #323232;
  background-color: #ece936;
  font-size: 0.75rem;
  font-weight: bolder;
  width: 160px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #ece936;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.contact__container-list {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.addtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  height: 535px;
  background-color: #4c4c4c;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
  width: 400px;
}

.addtask__title {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.addtask__label {
  text-align: left;
}

.addtask__form {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.addtask__form-input {
  background-color: #b7b8b26e;
  border-radius: 0.25rem;
}

.addtask__form-input::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input:-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input::-ms-input-placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-input::placeholder {
  color: #fafafa;
  font-size: 0.625rem;
  padding-left: 0.5rem;
}

.addtask__form-button {
  width: 120px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.addtask__form-button-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.addtask__form-label {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.125rem 0;
}

.addtask__form-textarea {
  height: 120px;
  border-radius: 0.25rem;
  background-color: #b7b8b26e;
}

.addtask__form-textarea:active {
  color: #fafafa;
}

.addtask__form-select {
  border-radius: 0.25rem;
  background-color: #b7b8b26e;
  color: #fafafa;
}

.task__container-list {
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.task__card {
  margin: 2px;
  list-style-type: none;
}

.task__card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
  color: #fafafa;
  width: 15rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #ece936;
          box-shadow: 0 2px 4px #ece936;
}

.task__card-button {
  height: 1.25rem;
  width: 4rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ece936;
  color: #323232;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.task__card-name {
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.task__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://images.unsplash.com/photo-1556761175-b413da4baf72?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.task__main-left-column {
  width: 15vw;
}

.task__main-right-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4rem;
}

.mainbody {
  background-color: #b7b8b26e;
  margin-top: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */